body {
    background-color: var(--ts-background-primary);
    color: var(--ts-color-primary);
    font-family: 'OptimusPrinceps', sans-serif;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding: 10px;
}

h1 {
    margin-bottom: 0.2em;
}

p {
    margin-bottom: 0;
    margin-top: 0;
}

.content-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
    margin-bottom: 0.8em;
}

.language, .player-name {
    font-size: 1.3em;
}

.language-select-name {
    flex: 1;
}

.player-languages-container {
    flex-grow: 1;
}

.language-entry {
    border-top: 1px solid var(--ts-background-secondary);
    padding-top: 1em;
    margin-top: 1em;
}

.label-desc {
    color: var(--ts-color-secondary);
}

.hidden {
    display: none;
}

#no-languages-label, #no-players-label {
    text-align: center;
}

button, input {
    background-color: var(--ts-background-secondary);
    color: var(--ts-color-primary);
    font-family: 'OptimusPrinceps', sans-serif;

    border: 1px solid var(--ts-accessibility-border);
    border-radius: 4px;
    font-size: 1.2em;

    transition: ease-in-out 0.1s;
}

input:disabled {
    background-color: var(--ts-background-secondary);
    color: var(--ts-color-secondary);
}

button:hover, input:hover {
    background-color: var(--ts-background-primary);
    transition: ease-in-out 0.2s;
}

button:focus-visible, input:focus-visible {
    outline: 3px solid var(--ts-accessibility-focus);
    outline-offset: -1px;
    background-color: var(--ts-background-primary);
    transition: outline-color 0s;
}

button {
    background-color: var(--ts-button-background);
}

button:hover {
    background-color: var(--ts-button-hover);
}

button:focus-visible {
    background-color: var(--ts-button-hover);
}

button.secondary-button {
    background-color: var(--ts-background-tertiary);
}

button.secondary-button:hover {
    background-color: var(--ts-background-tertiary);
    color: var(--ts-accent-primary);
}

textarea {
    flex-grow: 1;
    min-height: 5em;
    background-color: var(--ts-background-secondary);
    color: var(--ts-color-primary);
    font-size: 1em;

    border: 1px solid var(--ts-accessibility-border);
    border-radius: 4px;

    transition: ease-in-out 0.1s;
}

textarea:focus-visible {
    outline: 3px solid var(--ts-accessibility-focus);
    outline-offset: -1px;
    transition: outline-color 0s;
}

select {
    flex-grow: 1;
    background-color: var(--ts-background-secondary);
    color: var(--ts-color-primary);
    font-size: 1.2em;
    font-family: 'OptimusPrinceps', sans-serif;

    border: 1px solid var(--ts-accessibility-border);
    border-radius: 4px;

    height: auto;

    transition: ease-in-out 0.1s;
}

select:hover {
    background-color: var(--ts-background-primary);
    transition: ease-in-out 0.2s;
}

select:focus-visible {
    outline: 3px solid var(--ts-accessibility-focus) !important;
    outline-offset: -1px;
    background-color: var(--ts-background-primary);
    transition: outline-color 0s;
}

/*vuplex dropdown styling*/
vuplex-dropdown {
    transform: translateY(3px);
    padding: 0;
    background-color: var(--ts-background-secondary) !important;
    border-color: var(--ts-accessibility-border) !important;
    border-radius: 4px;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

vuplex-dropdown-option {
    background-color: var(--ts-background-secondary);
    color: var(--ts-color-primary) !important;
    transition: background-color 0.1s ease-in-out;
}

vuplex-dropdown-option:hover, vuplex-dropdown-option[selected] {
    background-color: var(--ts-background-tertiary) !important;
    transition: background-color 0.2s ease-in-out;
}

/*scrollbar styling*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--ts-background-primary);
    transition: ease-in-out 0.1s;
}

::-webkit-scrollbar-track:hover {
    background: var(--ts-background-secondary);
    transition: ease-in-out 0.2s;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--ts-background-secondary);
    transition: ease-in-out 0.1s;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--ts-color-secondary);
    transition: ease-in-out 0.2s;
}
